{% extends 'partials/base.html'%}
{% block content %}
<div class="contain">
    <div class="row mt-5 pt-3">
        <div class="col-md-4">
            <div class="cart">
                <div class="cart my-3 shadow">
                    <h3>form</h3>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="cart shadow my-3">
                <div class="cart-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small> 30th November 2024</small>
                            <hr>
                            <a class="h3" href=""> First Post </a>
                            <p class="text-justify my-3">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem id excepturi sit itaque magnam impedit animi fugit praesentium, minima cupiditate amet molestias, illo, maiores aperiam distinctio dolorum! Quo, excepturi eaque.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart shadow my-3">
                <div class="cart-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small> 30th November 2024</small>
                            <hr>
                            <a class="h3" href=""> First Post </a>
                            <p class="text-justify my-3">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem id excepturi sit itaque magnam impedit animi fugit praesentium, minima cupiditate amet molestias, illo, maiores aperiam distinctio dolorum! Quo, excepturi eaque.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart shadow my-3">
                <div class="cart-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small> 30th November 2024</small>
                            <hr>
                            <a class="h3" href=""> First Post </a>
                            <p class="text-justify my-3">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem id excepturi sit itaque magnam impedit animi fugit praesentium, minima cupiditate amet molestias, illo, maiores aperiam distinctio dolorum! Quo, excepturi eaque.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart shadow my-3">
                <div class="cart-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small> 30th November 2024</small>
                            <hr>
                            <a class="h3" href=""> First Post </a>
                            <p class="text-justify my-3">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem id excepturi sit itaque magnam impedit animi fugit praesentium, minima cupiditate amet molestias, illo, maiores aperiam distinctio dolorum! Quo, excepturi eaque.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}

